<link rel="stylesheet" href="/css/about.css">
<link rel="stylesheet" href="/css/home.css">
<header>
    <div class="navbar-container">
        <div class="navbar-logo">
            {{!-- <img id="logo" src="/image/terapia.png" alt="logo da marca"> --}}
            <p>Magic Hands</p>
        </div>
        <nav>
            <ul>
                <li><a href="/">Início</a></li>
                <li><a href="/about">Sobre Nós</a></li>
                <li><a href="#">Massagens</a></li>
            </ul>
        </nav>
        <div class="navbar-login">
            <ul>
                <li id="register"><a href="register">Cadastrar-se</a></li>
                <li id="login"><a href="login">Login</a></li>
            </ul>
        </div>
    </div>
</header>
    <section class="about-us">
        <div class="about-text">
            <h1>quem somos</h1>
            <p>Localizado no coração da capital de São Paulo, a Magic Hands proporciona há 11 anos uma experiência única para os que buscam desfrutar de uma 
                pausa relaxante dentro do cenário urbano.
            </p>
            <p>Na Magic Hands você cuida do seu corpo da cabeça aos pés com: massagem anti stress, hidromassagem com ozônio, serviços de beleza 
             e equipamentos que auxiliam seu corpo a encontrar a forma tão desejada. No Spa Urbano o cliente encontra qualidade de vida e um momento agradável.
            </p>
        </div>  
    <div class="flip-container">
	    <div class="flipper">
		    <div class="front">
		        <div class="box box-front">
			        <img class="about-img" src="/image/a-serene-image-of-a-professional-masseuse-gently-k-pVgTrPRpTpqWj45RxgGFWQ-mkoPj3wCS9KvIEqX4GxpYg.jpeg" alt="foto de massagem">
			    </div>
		    </div>
		    <div class="back">
			    <div class="box box-back">
			        <img class="about-img" src="/image/14uQokbDSaefpLY4sayA1g.png" alt="foto de massagem">
			    </div>
		    </div>
	    </div>
    </div>
    <div class="flip-container">
	    <div class="flipper">
		    <div class="front">
		        <div class="box box-front">
			        <img class="about-img" src="/image/massagem-uuaxyWNCROORmEWn0lraBQ-j67UIgt9TUCt5R1PI72AvQ.jpeg" alt="foto de massagem">
			    </div>
		    </div>
		    <div class="back">
			    <div class="box box-back">
			        <img class="about-img" src="/image/a-relaxing-and-serene-image-of-a-skilled-masseuse--mFWOE5jPQR6MPD9XmxQ3RA-67aGSp8rQXCYvVsT6oLA-A.jpeg" alt="foto de massagem">
			    </div>
		    </div>
	    </div>
    </div>
    <div class="flip-container">
	    <div class="flipper">
		    <div class="front">
		        <div class="box box-front">
			        <img class="about-img" src="/image/a-luxurious-spa-scene-with-a-skilled-masseuse-knea-we3TiKBKTlmgtu7rrhF-dg-j67UIgt9TUCt5R1PI72AvQ.jpeg" alt="foto de massagem">
			    </div>
		    </div>
		    <div class="back">
			    <div class="box box-back">
			        <img class="about-img" src="/image/a-serene-and-calming-scene-of-a-woman-lying-on-a-m-jAJEL5pdSdyLr50o39_JuQ-3ikfG_MzRi-4EKnhFnXX1g.jpeg" alt="foto de massagem">
			    </div>
		    </div>
	    </div>
    </div>

    </section>
<footer>
    <div class="container-footer">
            <div class="dice">
                 <p>Magic Hands</p>
                <ul>
                    <li><img src="/image/icons8-localidade-50.png" alt="icone localizacao"><span>Avenida Brigadeiro Faria Lima 865</span></li>
                    <li><img src="/image/icons8-telefone-50.png" alt="icone celular"><span>11 96778-4499</span></li>
                    <li><img src="/image/icons8-nova-mensagem-50 (2).png" alt="icone e-mail"><span>contato@magichands.com.br</span></li>
                </ul> 
            </div>
            <div class="social-network">
                <ul>
                    <li><img src="/image/icons8-whatsapp-48.png" alt="icone whatsapp"></li>
                    <li><img src="/image/icons8-facebook-novo-48.png" alt="icone facebook"></li>
                    <li><img src="/image/icons8-instagram-48.png" alt="icone instagram"></li>      
                </ul>
            </div>
            <span>© 2024 Copyright: @magics</span>
    </div>  
</footer>