<link rel="stylesheet" href="/css/home.css">

<header>
    <div class="navbar-container">
        <div class="navbar-logo">
            {{!-- <img id="logo" src="/image/terapia.png" alt="logo da marca"> --}}
            <p>Magic Hands</p>
        </div>
        <nav>
            <ul>
                <li><a href="/">Início</a></li>
                <li><a href="/about">Sobre Nós</a></li>
                <li><a href="#">Massagens</a></li>
            </ul>
        </nav>
        <div class="navbar-login">
            <ul>
                <li id="register"><a href="register">Cadastrar-se</a></li>
                <li id="login"><a href="login">Login</a></li>
            </ul>
        </div>
    </div>
</header>
<main>
    <div class="text-main">
        <h1>Massagem Relaxante</h1>
        <div class="p-main">
            <p>Promove benefícios físicos e psicológicos. Proporciona uma sensação de bem-estar</p>
        </div>
         <div class="button-main">
        <p><a href="#">escolher agora</a></p>
     </div>
    </div>
     <img src="/image/5b1dcc_51f3ed2e8ae84b99b349dd22db292b73~mv2.webp" alt="foto de massagem">
</main>
<section class="container-massage">
    <div class="massage-text">
        <h2>Massoterapia</h2>
        <div class="massage-p">
            <p>Massagem não é luxo, é muito necessária para saúde mental, física e bem-estar de quem busca uma melhora na qualidade de vida,
            e aquele momento que você tira para aliviar as tensões, dores musculares, fadigas mentais e estresses, ocasionada pelas atividades e correria do dia a dia.</p>
                 <div class="button-massage">
                    <p><a href="#">agendar</a></p>
                </div>
        </div>
    </div>
   <img src="/image/modelo-feminino-fazendo-massagem-no-spa (1).jpg" alt="pessoa massagem">
</section>
<footer>
    <div class="container-footer">
        <div class="social-network">
            <p>Rede-Sociais</p>
            <ul>
                <li><img src="/image/icons8-whatsapp-48.png" alt="icone whatsapp"></li>
                <li><img src="/image/icons8-facebook-novo-48.png" alt="icone facebook"></li>
                <li><img src="/image/icons8-instagram-48.png" alt="icone instagram"></li>      
            </ul>
        </div>
            <div class="dice">
                <ul>
                    <li><img src="/image/icons8-localização-50.png" alt="icone localizacao"><span>Avenida Brigadeiro Faria Lima</span></li>
                    <li><img src="/image/icons8-telephone-50.png" alt="icone celular"><span>11 96778-4499</span></li>
                    <li><img src="/image/icons8-nova-mensagem-50.png" alt="icone e-mail"><span>contato@magichands.com.br</span></li>
                </ul> 
            </div>
    </div>  
</footer>