
<link rel="stylesheet" href="/css/register.css">
<div class="icon">
    <a id="icon-x" href="/"><img src="/image/letra-x (1).png" alt="icone x"></a>
</div>
<div class="container-form">
   <div class="container-presentaion">
     <h1 id="h1-magic">Magic Hands</h1>
    <img src="/image/pacote-de-elementos-de-aromaterapia-desenhado-a-mao_23-2148831584-removebg-preview.png" alt="desenho de aromaterapia">
   </div>
    <form class="form" action="/register" method="post">
    <h2>Registrar</h2>
    <input type="name" name="nome" placeholder="Digite o seu nome" required>
    <input type="email" name="email" placeholder="Digite O seu e-mail"required>
    <input type="password" name="senha" placeholder="Digite sua senha"required>
    <input class="user-register" type="Submit" value="Cadastrar">
</form>
</div>
