<link rel="stylesheet" href="/css/register.css">
<div class="container-form">
    <form class="form" action="/register" method="post">
    <h1>Registrar</h1>
     {{#if message}}
            <div class="alerts">
                {{message}}
            </div>
        {{/if}}
        {{#if message2}}
            <div class="alerts">
                {{message2}}
            </div>
        {{/if}}
    <div class="reg">
        <input type="name" name="nome" placeholder="Digite o seu nome" required>
    </div>
    <div class="reg">
        <input type="email" name="email" placeholder="Digite O seu e-mail"required>
    </div>
    <div class="reg">
         <input type="password" name="senha" placeholder="Digite sua senha"required>
    </div>
    <input id="button-cad" class="user-register" type="Submit" value="Cadastrar">
    <a id="exit" href="/">Voltar</a>
</form>
</div>
