<link rel="stylesheet" href="/css/about.css">
<link rel="stylesheet" href="/css/home.css">
<header>
    <div class="navbar-container">
        <div class="navbar-logo">
            {{!-- <img id="logo" src="/image/terapia.png" alt="logo da marca"> --}}
            <p>Magic Hands</p>
        </div>
        <nav>
            <ul>
                <li><a href="/">Início</a></li>
                <li><a href="/about">Sobre Nós</a></li>
                <li><a href="/">Marcar Sessão</a></li>
            </ul>
        </nav>
        {{!-- <div class="navbar-login">
        {{#if isAuthenticated}}
        <ul>
            <li id="register"><a href="/logout">LogOut</a></li>
            </ul>
        {{else}}
             <ul>
            <li id="login"><a href="/login">Login</a></li>
            <li id="register"><a href="/register">Cadastrar-se</a></li>
            </ul>
        {{/if}}
        <div>
    </div> --}}
</header>

    </section>
<footer>
    <div class="container-footer">
            <div class="dice">
                 <p>Magic Hands</p>
                <ul>
                    <li><img src="/image/icons8-localidade-50.png" alt="icone localizacao"><span>Avenida Brigadeiro Faria Lima 865</span></li>
                    <li><img src="/image/icons8-telefone-50.png" alt="icone celular"><span>11 96778-4499</span></li>
                    <li><img src="/image/icons8-nova-mensagem-50 (2).png" alt="icone e-mail"><span>contato@magichands.com.br</span></li>
                </ul> 
            </div>
            <div class="social-network">
                <ul>
                    <li><img src="/image/icons8-whatsapp-48.png" alt="icone whatsapp"></li>
                    <li><img src="/image/icons8-facebook-novo-48.png" alt="icone facebook"></li>
                    <li><img src="/image/icons8-instagram-48.png" alt="icone instagram"></li>      
                </ul>
            </div>
            <span>© 2024 Copyright: @magics</span>
    </div>  
</footer>