.about-us {
    background-color: #FFCFED;
    display: flex;
    justify-content: center;
    height: 720px;
}

.about-img {
    width: 350px;
    height: 600px;
    margin-top: 2rem;
    border-radius: 5px;
}

.about-text {
    margin-top: 3rem;
    margin-left: 5rem;
}

.about-text h1 {
    text-align: center;
    text-transform: uppercase;
    font-size: 30px;
    font-family: sans-serif;
    color: #FFFF;
}
.about-text p {
    width: 450px;
    font-size: 20px;
    margin-top: 1.50rem;
    line-height: 2rem;
    font-family: sans-serif;
    color: #FFFF;
}

.flip-container { 
    
    margin-left: 5rem;
 }  	

.flip-container:hover .flipper, .flip-container.hover .flipper {  		
  transform: rotateY(180deg);  	
}    
.flip-container, .front, .back {  	
  width: 320px;  	
  height: 480px;  
}
.flipper {  	
  transition: 0.5s ease-in;  	
  transform-style: preserve-3d;    	
  position: relative;  
}
    
.front, .back {  	
  backface-visibility: hidden;    	
  position: absolute;  	
  top: 0;  	
 left: 0;  
}
.front { z-index: 2;  }    
.back { transform: rotateY(180deg); }