/* @import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&display=swap');
/* .container-form{
    background-color:#FFCFED;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.container-form #h1-magic{
    font-family: "Dancing Script";
    font-size: 55px;
    color: #FFFF;
    text-align: center;
}
.container-form img{
   width: 700px;
   height: 500px;
}
.form{
    background-color:#FEF0FF;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 500px;
    height: 500px;
    border-radius: 10%;
    box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);

}
.form h2{
    margin-bottom: 1.25rem;
    font-size: 50px;
    color: #DC50E5;
    font-family: "Dancing Script"
}
.form input{
    width: 350px;
    height: 40px;
    margin-top: 0.65rem;
    border-radius: 5px;
    outline: none;
   border: 1px solid #E5E5E5 ;
   background-color: #FFFF;
   font-family: "Playfair", serif;
   box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);
   font-size: 18px;
}
.form input:hover{
    border: 1px solid #FFCFED;
}
.form ::placeholder{
    font-size: 20px;
    text-align: center;
}
#button-cad{
    background-color:#FFCFED;
    margin-top: 1.10rem;
    cursor: pointer;
    font-size: 22px;
    font-weight: 600;
    width: 150px;
    color: #FFFF;
    transition: 0.5s;
}
#button-cad:hover{
    transform: scale(1.02);
    background-color: #FFFF;
    color: #FFCFED;
}
.exit {
    width: 50px;
    height: 700px;
    cursor: pointer;
}
.exit img{
    width: 48px;
    height: 48px;
    transition: 0.5s;
}
.exit img:hover{
    transform: rotate(180deg);
} */


.alerts{
    color: white;
    background: red;
}


*{
    background-image: url(../image/fundo-lunar-futurista.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: "Playfair", serif;
}
.container-form{
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-image: none;
}
.form{
    background-image: none;
    width: 400px;
    height: 500px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0px 15px 20px -1px rgba(0,0,0,0.1);
}
.form h1{
    background-image: none;
    margin-bottom: 1.50rem;
    font-size: 45px;
    letter-spacing: 0.50rem;
    color: #FAF9FA;
}
.form input{
    margin-top: 0.90rem;
}
.reg{
    display: flex;
    width: 350px;
    align-items: center;
    background-image: none;
}
.reg input{
    width: 350px;
    height: 40px;
    position: relative;
    background-image: none;
    border-radius: 5px;
    border: none;
    box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);
    opacity: 75%;
    background-color: #FF95EA;
    outline: none;
    font-size: 17px;
    color: #FFFF;
}
.reg input:hover{
  background-color: #FFCFED;
    font-size: 17px;
    color: #FFFF;
}
.reg input::placeholder{
    font-size: 20px;
    padding-left: 0.50rem;
    color: #FFFF;
}

.reg img{
    position: absolute;
    margin-left: 310px;
    margin-top: 1rem;
    width: 20px;
    height: 20px;
    background-image: none;
}
#button-cad{
    background-image: none;
    width: 150px;
    height: 35px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    margin-top: 1.10rem;
    background-color: #FF95EA ;
    opacity: 75%;
    font-size: 20px;
    font-weight: 600;
    color: #FFFF;
}
#button-cad:hover{
    background-color: #FFCFED;
    border: 1px solid #FF95EA;
}

#exit{
    background-image: none;
    margin-top: 1rem;
    font-size: 25px;
    color: #FFFF;
}
